name: Android Build
on: 
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
 
      - name: Build with Buildozer
        uses: digreatbrian/buildozer-action@v2
        with:
          buildozer-cmd: buildozer android debug


          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: BeatEmUp-APK
          path: bin/*.apk

