name: Android Build
on: 
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Build with Buildozer
        uses: ArtemSerebrennkov/buildozer-action@v1
        with:
          buildozer_version: master
          command: buildozer android debug
          
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: BeatEmUp-APK
          path: bin/*.apk

